<div class="card">
    <div class="card-body p-4 text-center">
        <span class="avatar avatar-xl mb-3" :style="'background-image: url(' + avatar + ')'"> </span>
        <h3 class="m-0 mb-1 name">
            <a :href="'/member/profil/' + d" x-text="displayName"></a>
        </h3>
        <div class="text-secondary username" x-text="username"></div>
        <div class="mt-3">
            <span class="badge bg-purple-lt role">
                <a :href="'/member/' + role" x-text="role"></a>
            </span>
        </div>
    </div>
    <div class="d-flex">
        <a :href="'/member/profil/' + id" class="card-btn">
            <div style="margin-right: 2px;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-hammer"> <path stroke="none" d="M0 0h24v24H0z" fill="none"/> <path d="M11.414 10l-7.383 7.418a2.091 2.091 0 0 0 0 2.967a2.11 2.11 0 0 0 2.976 0l7.407 -7.385" /> <path d="M18.121 15.293l2.586 -2.586a1 1 0 0 0 0 -1.414l-7.586 -7.586a1 1 0 0 0 -1.414 0l-2.586 2.586a1 1 0 0 0 0 1.414l7.586 7.586a1 1 0 0 0 1.414 0z" /> </svg></div>
            <span>Moderate</span>
        </a>
    </div>
</div>
