{% extends "layout.html" %}
{% block content %}
<div class="page-body">
    <div class="container-xxl">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>
        <div class="row">
            <stat-card class="col-xl-3 col-md-6 mb-4" x-data="{name: 'Total members', content: '{{ members_count }}'}"></stat-card>
            <stat-card class="col-xl-3 col-md-6 mb-4" x-data="{name: 'New members this week', content: '{{ members_week_count }}'}"></stat-card>
            <stat-card class="col-xl-3 col-md-6 mb-4" x-data="{name: 'Total Penalties', content: '{{ penalties_count }}'}"></stat-card>
            <stat-card class="col-xl-3 col-md-6 mb-4" x-data="{name: 'Total Alerts', content: '{{ alerts_count }}'}"></stat-card>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-12">
                    <div class="card" style="height: 37rem">
                        <div class="card-header">
                            <div class="subheader">Last members</div><br>
                        </div>
                        <div class="card-body card-body-scrollable card-body-scrollable-shadow">
                            <div class="divide-y">
                                {% for member in latest_members %}
                                <div>
                                    <div class="row">
                                        <div class="col-auto">
                                            <span class="avatar avatar-1" style="background-image: url({{ member.avatar }})"></span>
                                        </div>
                                        <div class="col">
                                            <div class="text-truncate"><strong>{{ member.displayName }}</strong></div>
                                            <div class="text-secondary">{{ member.joinDate }}</div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-12">
                    <div class="card" style="height: 18rem">
                        <div class="card-header">
                            <div class="subheader">Last penalties</div><br>
                        </div>
                        <div class="card-body card-body-scrollable card-body-scrollable-shadow">
                            <div class="divide-y">
                                {% for penalty in penalties %}
                                <div>
                                    <div class="row">
                                        <div class="col-auto">
                                            <span class="avatar avatar-1 bg-red-lt">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-hammer"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M11.414 10l-7.383 7.418a2.091 2.091 0 0 0 0 2.967a2.11 2.11 0 0 0 2.976 0l7.407 -7.385" /><path d="M18.121 15.293l2.586 -2.586a1 1 0 0 0 0 -1.414l-7.586 -7.586a1 1 0 0 0 -1.414 0l-2.586 2.586a1 1 0 0 0 0 1.414l7.586 7.586a1 1 0 0 0 1.414 0z" /></svg>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <div class="text-truncate">
                                                <div class="list-inline list-inline-dots">
                                                    <div class="list-inline-item">
                                                        Reason: <strong>{{ penalty.reason }}</strong>
                                                    </div>
                                                    <div class="list-inline-item">
                                                        Member: <strong>{{ penalty.memberName }}</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-secondary">
                                                <div class="list-inline list-inline-dots">
                                                    <div class="list-inline-item">
                                                        Date: <strong>{{ penalty.timestamp }}</strong>
                                                    </div>
                                                    <div class="list-inline-item">
                                                        Status: <strong>{{ penalty.status }}</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto align-self-center">
                                            <a href="/member/profil/{{ penalty.memberId }}" class="text-secondary">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="card" style="height: 18rem">
                        <div class="card-header">
                            <div class="subheader">Last alert</div><br>
                        </div>
                        <div class="card-body card-body-scrollable card-body-scrollable-shadow">
                            <div class="divide-y">
                                {% for alert in alerts %}
                                <div>
                                    <div class="row">
                                        <div class="col-auto">
                                            <span class="avatar avatar-1 bg-orange-lt">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-alert-hexagon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.875 6.27c.7 .398 1.13 1.143 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z" /><path d="M12 8v4" /><path d="M12 16h.01" /></svg>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <div class="text-truncate">
                                                <div class="list-inline list-inline-dots">
                                                    <div class="list-inline-item">
                                                        In: <strong>{{ alert.channel }}</strong>
                                                    </div>
                                                    <div class="list-inline-item">
                                                        Member: <strong>{{ alert.memberName }}</strong>
                                                    </div>
                                                    <div class="list-inline-item">
                                                        Level: <strong>{{ alert.toxicity }}</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-secondary">{{ alert.timestamp }}</div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}